*{
text-transform: capitalize;
text-decoration: none;
}
body{
    overflow-x:hidden;
}
.card{
background:#fff;
padding: 15px;
}
.underline{
    text-decoration: underline;
    /*padding-bottom: 5px;*/
}